* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

body {
  margin: 1em;
}

:global .cf:before,
:global .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

:global .cf:after {
    clear: both;
}

:global .btn-group .btn:focus {
  outline: none;
}

:global .nav.nav-tabs.nav-pad {
  padding: 0 1em;
}
